<div class="dropdown">
    <button class="btn btn-danger dropdown-toggle" type="button" id="ListaProfessores" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Lista de Professores
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Vinicis Almeida</button>
      <button class="dropdown-item" type="button">Roberta Morales</button>
      <button class="dropdown-item" type="button">Lucas Rustiguelli</button>
      <button class="dropdown-item" type="button">Amanada Costa Chaves</button>
      <button class="dropdown-item" type="button">Gustavo Diniz</button>
      
    </div>
  </div>