<div class="dropdown">
    <button class="btn btn-danger dropdown-toggle" type="button" id="ListaCursos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Lista de Cursos
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Análise e Desenvolvimento de Sistemas</button>
      <button class="dropdown-item" type="button">Design gráfico</button>
      <button class="dropdown-item" type="button">Fotografia</button>
      <button class="dropdown-item" type="button">Marketing</button>
      <button class="dropdown-item" type="button">Comercio de Exterior</button>
      
    </div>
  </div>
